<ion-nav-bar class="bar-assertive" style="background-color: #B71C1C;" >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    测验列表
  </ion-nav-title>
</ion-nav-bar>
<ion-view>
  <ion-content class="has-header">
    <div class="list">
      <div class="row bar-royal biaotou">
        <div class="col col-40"><h6>测验</h6></div>
        <div class="col col-20"><h6>成绩</h6></div>
        <div class="col"><h6>操作</h6></div>
      </div>
      <div class="row" ng-repeat="tq in exams.completed" item="tq">
        <div class="col col-40">
          <h3>{{ tq.quiz.title }}</h3>
          <p>{{ tq.started_at | date:'yy/M/dd H:m' }}</p>

        </div>
        <div class="col col-20 chengji assertive">{{tq.score}}</div>
        <div class="col"> <button ng-click="take(tq.quiz.id)" class="button button-fab ink-dark button-calm">重考</button> <button ng-click="goStateWithParam('app.showQuiz',{id:tq.id})" class="button button-fab button-balanced">查卷</button></div>
      </div>
      </div>



  </ion-content>
</ion-view>
