<ion-nav-bar class="bar-assertive" style="background-color: #B71C1C;" >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    测验列表
  </ion-nav-title>
</ion-nav-bar>
<ion-view>
  <ion-content class="has-header">
    <div class="list">
      <div ng-repeat="quiz in exams.notCompleted" item="quiz" >
        <div  class="item item-button-right">
          <h2>{{ quiz.title }}</h2>
          <p>{{ quiz.started_at | date:'yy年M月dd日' }} --{{ quiz.ended_at | date:'yy年M月dd日' }}</p>
          <button ng-click="take(quiz.id)" class="button kaishi button-calm ink">
            开始考试
          </button>
        </div>

      </div>


    </div>
  </ion-content>
</ion-view>

