<ion-nav-bar class="bar-assertive" style="background-color: #B71C1C;" >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{ tq.quiz.title }}
  </ion-nav-title>
</ion-nav-bar>
<ion-view>
  <ion-content class="has-header">
    <div class="bar bar-subheader bar-stable static text-center">
      <strong class="title">多选题，没题20分，共5题 </strong>
    </div>
    <div class="im-wrapper">
      <div class="list">
        <div ng-repeat="tqq in tq.tester_quiz_questions" item="tqq">
          <h4 class="border-top"> {{tqq.question.title}}  <button ng-show="tqq.if_correct==true" class="button button-fab button-assertive">正确</button> <button ng-show="tqq.if_correct!==true" class="button button-fab button-dark">错误</button>
          </h4>
          <div ng-switch on="tqq.question.question_type">

              <div ng-model="tqq.answer" ng-switch-default class="item">
                <div class="item" ng-repeat="choice in tqq.question.choices" item="choice">
                  <label class="">
                    <input disabled type="radio" ng-model="tqq.answer" ng-value="choice.id">
                    {{choice.title}}<span ng-show="tqq.if_correct !== true && choice.id.toString() == tqq.question.correct_answer" class="badge ion-checkmark badge-assertive"> 正确</span>
                  </label>

                </div>


            <div ng-switch-when="多选题" class="checkbox-container" ng-model="tqq.answer">
              <div ng-repeat="choice in tqq.question.choices" item="choice" class="item item-checkbox">
                <label class="checkbox">
                  <input disabled type="checkbox"  ng-model="choice.checked">
                </label>
                {{choice.title}}<span ng-show="tqq.if_correct !== true && inArray(choice.id, tqq.question.correct_answer)" class="badge ion-checkmark badge-assertive"> 正确</span>

              </div>


            </div>

          </div>

        </div>


      </div>








    </div>
  </ion-content>
</ion-view>

