<ion-nav-bar class="bar-assertive" style="background-color: #B71C1C;" >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    课程列表
  </ion-nav-title>
</ion-nav-bar>
<ion-view>
  <ion-content class="has-header">


    </div>
    <div class="list card stable-bg" ng-repeat="course in courses.entities" item="course" ui-sref="app.showCourse({id:course.id})">
      <img class="full-image" ng-src="{{imageRoot + course.image}}">
      <div class="item item-body text-center">
        <h2>{{course.title}}</h2>
        <p>{{course.intro}}</p>
      </div>
    </div>


  </ion-content>
</ion-view>

