<ion-nav-bar class="bar-assertive" style="background-color: #B71C1C;" >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    课件内容
  </ion-nav-title>
  <ion-nav-buttons side="right" >
    <button class="button button-icon button-clear ion-android-more-vertical" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view>
  <ion-content class="has-header">
    <div class="bar bar-subheader bar-stable static text-center">
      <strong class="title">{{kejian.entity.title}} </strong>
    </div>
    <div class="im-wrapper" ng-bind-html="kejian.entity.body">

    </div>


  </ion-content>
</ion-view>
